{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalistore - Confirmar</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <div class="container">
        <h1>Confirmar Email</h1>
            <div class="login-card">
                <p>Por favor, confirme seu email clicando no botão abaixo.</p>
                <a href="{{ link }}" class="btn-login">Confirmar Email</a>
                <p>Ou clique <a href="{{ link }}">aqui</a></p>
            </div>
    </div>
</body>
</html>